@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    align-items:center;
    padding: 20px 10%;
    background-color: #ffbbbb;
}

header h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    margin-right: auto;
}

header li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0% 20px;
}

.nav-links li a:hover {
    color: #439ae1;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #439ae1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #0e008d;
}

.banner {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/one-piece.jpg");
    background-size: cover;
}

.banner p {
    color: #000292;
    font-size: 30px;
}

main {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

aside, ul, li, p {
    font-family: "Montserrat", sans-serif;
}

div {
    padding-bottom: 1%;
    padding-left: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

section {
    box-shadow: -5px 0 0 0  red;
    position: relative;
    height: 100%;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
}

aside h2 {
    font-size: 55px;
    justify-content: flex-end;
}

.about-section p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1%;
    font-size: 25px;
}

.work-section ul {
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    padding-left: 1%;
}

#work-list img {
    display: flex;
    height: 300px;
    filter: grayscale(90%);
    border-style: solid;
    border-color: rgb(0, 121, 219);
}

#work-list img:hover{
    filter: none;
    transition: filter .2s ease-in-out;
    transform: scale(1.5);
}

.contact-section ul {
    list-style: none;
    display:flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.contact-section li {
    padding-right: 10px;
    height: 100px;
}
